<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Interview Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home-page">
    <div class="container">
        <h1>Welcome to AI Interview Bot</h1>
        <h2>Are You Ready For the Interview?</h2>
        <a href="/upload"><button>Click Start</button></a>
    </div>
    
</body>
</html>